<p>
  <strong>Email:</strong> <%= @user.email %>
</p>

<p>
  <strong>Address:</strong> <%= @user.address %>
</p>

<p>
  <strong>Post Code:</strong> <%= @user.post_code %>
</p>

<p>
  <strong>Introduction:</strong> <%= @user.introduction %>
</p>
