<h1><%= t('models.user.header.users_index') %></h1>

<div id="books" class="index-items">
  <% @user.each do |user| %>
    <div class="index-item">
      <p>
        <%= link_to user.email, user_path(user) %>
      </p>
    </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to t('models.book.link.back_to_books'), books_path %>
</nav>
