<h1>Profile</h1>

<div class="show-item">
  <%= render @user %>
</div>

<nav class="page-nav">
  <%= link_to 'Back to Users', users_path %>
  <%= link_to 'Back to Books', books_path %>

  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_registration_path %>
  <% end %>
</nav>

