<h1><%= t('titles.books_edit') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('links.show_this_book'), @book %> |
  <%= link_to t('links.new_book'), books_path %>
</nav>
